[data-component="home"]{
  padding-top: 80px;
  // background-color: rgba(15, 15, 15, 0.72);
  // background-color: rgba(240, 240, 240, 0.72);
  backdrop-filter: blur(15px);
  min-height: 100%;
  .up{
    width: 100%;
    text-align: center;
    .avatar{
      width: 100px;
      height: 100px;
      background-color: white;
      border-radius: 50%;
      vertical-align: bottom;
    }
    .my-intro{
      display: inline-block;
      // color: skyblue;
      color: white;
      padding-left: 20px;
      font-size: 30px;
      .name{
        text-align: left;
      }
      .intro{
        font-size: 16px;
        width: 280px;
        text-align: left;
      }
    }
  }

  .new-blog, .new-novel{
    width: 40%;
    margin: 80px auto 0;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    // background-color: rgba(252, 212, 225, 0.5);
    // backdrop-filter: blur(18px);
    @media screen and (max-width: 1280px) {
      width: 55%;
    }
    @media screen and (max-width: 720px) {
      width: 70%;
    }
    .title{
      width: 100%;
      font-size: 18px;
      color: crimson;
      justify-content: space-between;
      font-weight: 700;
      align-items: center;
    }
    .content{
      color: skyblue;
      font-size: 16px;
      font-family: '等线';
    }
    .post-wrap{
      justify-content: space-between;
      padding: 5px 15px;
      &:hover{
        background-color: rgb(253, 212, 225);
        border-radius: 6px;
        cursor: pointer;
      }
    }
  }

  .new-novel{
    // background-color: rgba(243, 255, 240, 0.5);
    // backdrop-filter: blur(18px);
    .title{
      color: #bfc;
    }
  }
}