[data-component="commonpage"]{
  .title{
    color: white;
    font-size: 36px;
    margin: 15px 0;
    text-align: center;
    width: 100%;
  }
  .content{
    border-radius: 5px;
    margin: 0 20px;
    min-height: 350px;
    background: white !important;
  }
}