[data-component="menu-drawer"]{
  position: absolute;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: -100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  // transform: rotate(7.5deg);
  // background: rgba(53, 91, 174, .72);
  // background: rgba(255, 255, 255, 0.72);
  background: transparent;
  backdrop-filter: saturate(100%) blur(6px);
  transition: .3s;
  .my-link{
    padding-left: 30px;
    margin-bottom: 25px;
    color: rgb(121, 85, 72);
    font-size: 24px;
    display: block;
    .en{
      font-size: 16px;
      font-weight: 700;
    }
  }
  .menu-d-left{
    background: rgba(255, 255, 255, 0.72);
  }
  .menu-d-right{
    background: rgba(255, 255, 255, 0.72);
  }
}