[data-component="menu-drawer"]{
  position: absolute;
  z-index: 71;
  width: 100vw;
  height: 100vh;
  top: -100%;
  // transform: rotate(7.5deg);
  // background: rgba(53, 91, 174, .72);
  background: rgba(255, 255, 255, 0.72);
  // background: rgba(60, 129, 216, 0.72);
  backdrop-filter: saturate(180%) blur(18px);
  transition: .3s;
  .my-link{
    padding-left: 30px;
    margin-bottom: 25px;
    color: rgb(121, 85, 72);
    font-size: 24px;
    display: block;
    .en{
      font-size: 16px;
      font-weight: 700;
    }
  }
}