@import './variable.scss';
.el-form-item {
  padding: 0 10px;
  .el-form-item__label{
    padding: 0;
  }
}
.el-divider{
  margin: 20px 0;
}
.el-header {
  height: $headerHeight;
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  line-height: $headerHeight;
}
.el-footer {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  line-height: $footHeight;
}

.el-aside{
    // 去除滚动条
  .el-scrollbar__wrap{
    overflow-x: hidden;
  }
}
// 保证菜单关闭时的动画效果
.el-menu--collapse {
  width: 100%;
}