@mixin noScrollBar {
  -ms-overflow-style:none;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display:none;
  }
}

$colors: (
  'white': white,
  'black': black,
  'blue': blue,
  'red': red,
  'green': green,
  'skyblue': skyblue,
  'crimson': crimson,
  'deeppink': deeppink,
  'lightpink': lightpink
);

@each $key, $value in $colors {
  .text-#{$key}{
    color: $value;
  }
}
