$headerHeight: 60px; // 导航栏高度
$footHeight: 30px; // 底部高度
$sideOpen: 200px; // 侧边栏展开宽度
$sideClose: 63px; // 侧边栏关闭宽度

:export {
  headerHeight: $headerHeight;
  footHeight: $footHeight;
  sideOpen: $sideOpen;
  sideClose: $sideClose;
}