
.content {
  overflow: auto;
  flex: 1;
}
.footer{
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: saturate(180%) blur(18px);
  padding: 12px;
}
.layout{
  display: flex;
  flex-direction: column;
  height: 100%;
}