[data-component="login"]{
  .login{
    width: 100vw;
    height: 100vh;
    background-image: url('~@/assets/images/login-bg.jpg');
    background-size: 100% 100%;
    background-position: center center;
    justify-content: center;
    align-items: center;
  }
  .lg-title{
    width: 100%;
    font-size: 28px;
    text-align: center;
    color: #D92501;
  }

  .lg-form{
    box-sizing: border-box;
    padding: 20px;
    width: 450px;
    height: 300px;
    background-color: rgba(255, 255, 255, .75);
    backdrop-filter: saturate(180%) blur(10px);
    border-radius: 10px;
  }
  .button-area{
    text-align: center;
  }
}