@import '~@/styles/variables.scss';
[data-component="logo"]{
  line-height: $navBarHeight;
  height: $navBarHeight;
  background-color: skyblue;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 700;
  font-family: Arial;
  cursor: default;
  color: white;
  box-sizing: border-box;
}